# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.[Cc]ache

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# LaTeX build artifacts (for your docs folder)
docs/*.aux
docs/*.lof
docs/*.log
docs/*.lot
docs/*.fls
docs/*.out
docs/*.toc
docs/*.fmt
docs/*.fot
docs/*.cb
docs/*.cb2
docs/*.dvi
docs/*.pdf
docs/*.ps
docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*.run.xml

# OS specific files
.DS_Store
Thumbs.db
/src/chat.db-wal
/src/chat.db-shm
