<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="OpenTelemetry" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="OllamaSharp" />
	  <package pattern="System.IO.Pipelines" />
	  <package pattern="System.*" />
	  <package pattern="Polly.*" />"
	  <package pattern="Microsoft.Bcl.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>