<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      "
	  <package pattern="OpenTelemetry" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="OllamaSharp" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.*" />
      <package pattern="Polly.*" />
      <package pattern="Microsoft.Bcl.*" />
      <package pattern="HtmlAgilityPack" />
      <package pattern="Microsoft.EntityFramework.*" />
      <package pattern="Microsoft.Data.Sqlite.Core" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.Abstractions" />
      <package pattern="Microsoft.EntityFrameworkCore.Analyzers" />
      <package pattern="Microsoft.EntityFrameworkCore.Relational" />
      <package pattern="Microsoft.EntityFrameworkCore.Sqlite" />
      <package pattern="Microsoft.EntityFrameworkCore.Sqlite.Core" />
      <package pattern="SQLitePCLRaw.bundle_e_sqlite3" />
      <package pattern="SQLitePCLRaw.core" />
      <package pattern="SQLitePCLRaw.lib.e_sqlite3" />
      <package pattern="SQLitePCLRaw.provider.e_sqlite3" />
      <package pattern="Humanizer.Core" />
      <package pattern="Microsoft.Build.Framework" />
      <package pattern="Microsoft.Build.Locator" />
      <package pattern="Microsoft.CodeAnalysis.Analyzers" />
      <package pattern="Microsoft.CodeAnalysis.Common" />
      <package pattern="Microsoft.CodeAnalysis.CSharp" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Workspaces" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.Common" />
      <package pattern="Microsoft.CodeAnalysis.Workspaces.MSBuild" />
      <package pattern="Microsoft.EntityFrameworkCore.Design" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="Microsoft.EntityFrameworkCore.Tools" />
      <package pattern="BCrypt.Net-Next" />
      <package pattern="Microsoft.AspNetCore.Authentication" />
      <package pattern="Microsoft.AspNetCore.Authentication.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Authentication.Cookies" />
      <package pattern="Microsoft.AspNetCore.Authentication.Core" />
      <package pattern="Microsoft.AspNetCore.Cryptography.Internal" />
      <package pattern="Microsoft.AspNetCore.DataProtection" />
      <package pattern="Microsoft.AspNetCore.DataProtection.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Hosting.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Hosting.Server.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Http" />
      <package pattern="Microsoft.AspNetCore.Http.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Http.Extensions" />
      <package pattern="Microsoft.AspNetCore.Http.Features" />
      <package pattern="Microsoft.AspNetCore.WebUtilities" />
      <package pattern="Microsoft.Net.Http.Headers" />
      <package pattern="Microsoft.Win32.Registry" />
    </packageSource>
  </packageSourceMapping>
</configuration> 