@namespace Agent007.Shared
@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Agent 007</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        @Body
    </main>
</div>