@page "/chat"

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<div>
    <textarea @bind="message" rows="10" cols="80" readonly></textarea>
</div>

@code {
    private HubConnection? hubConnection;
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/llmHub"))
            .Build();

        hubConnection.On<string>("ReceiveMessage", (message) =>
        {
            this.message += $"{message}\n";
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
